@font-face {
  font-family: "Lucioleregular";
  font-family: "BebasNeue";
  src: url("fonts/LUCIOLE-REGULAR.TTF") format("opentype");
  src: url("fonts/BEBASNEUE-REGULAR.OTF") format("opentype");
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: BebasNeue;
  font-size: 24px;
  text-align: center;
}

#scroll-container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

#myImage {
  width: 150px;
  position: relative;
}

.black {
  background-color: black;
  height: 100vh;
}

.counter {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: black;
}

.counter span {
  display: inline-block;
  color: black;
  font-size: 64px;
  transition: transform 0.3s ease;
}
